<h4 class="ui inverted compact header">
  State
  <div class="sub header" style="margin-top:0.4em">
    <div class="ui tiny inverted compact button" info="game_state_str" style="pointer-events:none;"></div>
  </div>
</h4>
<h4 class="ui inverted compact header">
  Players
  <p class="sub header" info="players_online_list">
    {{room.get_players_str(None,'online') or 'Nobody'}}
  </p>
</h4>

<script>
var infos_panel = {};
infos_panel.game_state = function(game_start_str)
{
  var targets = $('[info="game_state_str"]').text(game_start_str).removeClass('orange yellow red blue teal green olive');
  if (game_start_str=='Waiting')        targets.addClass('yellow');
  else if (game_start_str=='Ready')     targets.addClass('green');
  else if (game_start_str=='Gaming')    targets.addClass('blue');
  else if (game_start_str=='Full')      targets.addClass('orange');
}
infos_panel.players_online = function(players_online_list)
{
  $('[info="players_online_list"').text(players_online_list);
}
infos_panel.game_state('{{room.state_str}}');
</script>
